body{
	background-color: #34495E;
}
h1{
	color: white;
}
.panel-default > .done {
  text-decoration: line-through;
  background-color: #c6c6c6;
}
.customChevron{
	padding-right: 5px;
}
.center{
	text-align: center;
}
#progression{
	width: 100%;
	height: 40px;
	text-align:center;
	display: inline-block;
}
#progressLabel{
	color: white;
	display: inline-block;
	font-size: 1.3em;
}
#container{
	margin: auto;
	width: 500px;
}

#creationForm{
	background-color: white;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.progress{
	width: 190px;
	height: 20px;
	margin-top: 10px;
	display: inline-block;
	margin-bottom: 0px;
}

.removeButton{
	padding: 0 0;
	margin-left: 5px;
}