body{
	background-color: #34495E;
}
h1{
	color: white;
}
.customChevron{
	padding-right: 5px;
}
.center{
	text-align: center;
}
#container{
	margin: auto;
	width: 500px;
}

#creationForm{
	background-color: white;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.progress{
	width: 50px;
	height: 20px;
	float: left;
	margin-right: 10px;
	margin-bottom: 0px;
}

.removeButton{
	padding: 0 0;
	margin-left: 5px;
}