<span ng-init="init()"></span>
<div id="header">
	<h1>TodoList</h1>
	<progressbar value="getFinishedPercent()" type="info"><span style="color:black; white-space:nowrap;">{{finishedCount}} / {{totalTask}}</span></progressbar>
	
</div>
<h4 class="center"><a ng-click="creatingNewTodo = !creatingNewTodo" class="btn btn-success">Ajouter un nouveau ToDo</a></h4>

<form id="creationForm" role="form" collapse="creatingNewTodo">
	<div class="form-group">
		<label>Title</label>
		<input placeholder="Titre" ng-model="newTodo.title" class="form-control" ></input>
	</div>
	<a type="submit" ng-click="postnew()" class="btn btn-primary">Créer la Todo</a>
</form>

	<div ng-repeat="task in todolist | orderBy: ['finished','-id']" class="panel panel-default">
		<div ng-class="getDoneClass(task.finished)" class="panel-heading">
			{{task.title}}
			<i class="pull-left glyphicon glyphicon-chevron-right customChevron" ></i>
			<a ng-click="remove($event, task)" class="btn pull-right glyphicon glyphicon-remove removeButton"></a>
			<a ng-show="!task.finished" ng-click="turnToEditMode($event, task)" class="btn pull-right glyphicon  glyphicon glyphicon-pencil removeButton"></a>
			<a ng-show="!task.finished" ng-click="validateTask(task)" class="btn pull-right glyphicon glyphicon-ok removeButton"></a>
		</div>
	
	<form role="form" collapse="!task.editMode">
		<div class="form-group">
			<input ng-model="task.title" class="form-control" ></input>
		</div>
	</form>
	</div>