<span ng-init="init()"></span>
<h1>TodoList</h1>

<h4 class="center"><a ng-click="creatingNewTodo = !creatingNewTodo" class="btn btn-success">Ajouter un nouveau ToDo</a></h4>

<form id="creationForm" role="form" collapse="creatingNewTodo">
	<div class="form-group">
		<label>Title</label>
		<input placeholder="Titre" ng-model="newTodo.title" class="form-control" ></input>
	</div>
	<div class="form-group">
		<label>Description</label>	
		<textarea placeholder="Description" ng-model="newTodo.description" class="form-control" ></textarea>
	</div>
	<a type="submit" ng-click="postnew()" class="btn btn-primary">Créer la Todo</a>
</form>

<accordion close-others="true">
	<accordion-group ng-repeat="task in todolist" is-open="task.collapse">
		<accordion-heading>
			#{{task.id}} {{task.title}}
			<i class="pull-left glyphicon customChevron" ng-class="{'glyphicon-chevron-down': task.collapse, 'glyphicon-chevron-right': !task.collapse}"></i>
			<a ng-click="remove($event, task.id)" class="btn pull-right glyphicon glyphicon-remove removeButton"></a>
			<a ng-click="turnToEditMode($event, task)" class="btn pull-right glyphicon  glyphicon glyphicon-pencil removeButton"></a>
		</accordion-heading>
	<p >
		{{task.description}}
	</p>
	
	<form role="form" ng-show="task.editMode">
		<div class="form-group">
			<label>Title</label>
			<input ng-model="task.title" class="form-control" ></input>
		</div>
		<div class="form-group">
			<label>Description</label>	
			<textarea ng-model="task.description" class="form-control" ></textarea>
		</div>
		<a type="submit" ng-click="updateTask(task)" class="btn btn-primary">Valider les modifications</a>
	</form>
	</accordion-group>
</accordion>
  <!-- 
  <progressbar max="100" value="getProgressValue(task.state)" type="{{getProgressType(task.state)}}"></progressbar>
   -->